body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline;
}

body {
  background-color:  #131417;
  font-family: "OCRB";
  color: black;
}

.side-nav {
  font-family: "Roboto Slab";
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5%;
  cursor: pointer;
  z-index: 1;
  transition: all ease 0.5s;
}
.ellipse:hover{
  border-color:#AB1154!important;
}
@media(max-width:900px)
{
  .side-nav{
    display: none;
  }
  #arrow{
    display: none;
  }
}
.side-nav p {
  margin: 0;
  margin-left: 20px;
  color: #F3E3DD;
  opacity: 0;
  letter-spacing: 1px;
  transition: all ease 0.5s;
}
.side-nav .ellipse {
  width: 1px;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 0%;
  border-style: solid;
  border-color: white;
  transition: all ease 0.5s;
}
.side-nav .ellipse:hover {
  background-color:palevioletred;
  color: palevioletred;
}
.side-nav .ellipse:hover p {
  opacity: 1;
}
.side-nav .ellipse:focus {
  outline: 0;
  background-color: palevioletred;
}

.content {
  width: 100%;
  height: 100%;
}
.content p {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  transition: all ease 0.5s;
}
.content p:hover {
  color: #EACDC2;
}

.middle {
  background-color: #C6878F;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.semimiddle{
  background-color: #131417;
  padding-top: 0px;
  margin-top: 0px;
}

#arrow{
  cursor:pointer;
}